@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --dark-blue-color: #2947a9;
  --nav-link-color: #14171f;
  --orange-color: #f9995d;
  --home-card-color: #3559c7;
  --very-dark-blue-color: #292e3d;
  --reason-box-border-color: #e0e3eb;
  --reason-box-heading-color: #3d445c;
  --reason-box-description-color: #858ead;
  --service-bg-color: #f5f5f5;
  --service-image-border-bottom-stroke-color: #e0e3eb;
  --stats-left-box-shadow-color: rgba(17, 24, 39, 10%);
  --stat-left-description-color: #667299;
  --stats-right-description-color: #cccccc;
  --project-link-color: #c2c7d6;
  --project-card-pagination-bg-color: #f6f8f7;
  --form-section-bg-color: #f6f8f7;
  --form-input-border-color: #e0e3eb;
  --form-input-placeholder-color: #a3aac2;
  --footer-input-placeholder-color: #a3aac2;
  --form-star-color: #c40303;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
  border: none;
  text-decoration: none;
}

button:hover {
  cursor: pointer;
}

input:focus,
textarea:focus {
  outline: none;
}

body {
  font-size: 62.5%;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  -webkit-scroll-behavior: smooth;
}

@media (orientation: portrait) {

  nav,
  section,
  footer {
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

@media (orientation: landscape) {

  nav,
  section,
  footer {
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

/* Navbar Section Start  */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  height: 20vw;
  max-height: 6.5vh;
  position: relative;
}

.logo-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1vw;
}

.logo-container:hover {
  cursor: pointer;
}

.logo-container h2 {
  font-size: 9vw;
  color: var(--dark-blue-color);
}

.logo-container h2 span {
  font-size: inherit;
  font-style: italic;
}

nav .logo-container img {
  height: 100%;
}

.nav-hamburger-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-hamburger-icon-container i {
  font-size: 10vw;
}

.nav-links-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  list-style: none;
  top: 100%;
  right: 0;
  background: #000a;
  padding: 2vw;
  border-radius: 5px;
  /* gap: 1vw; */
}

.nav-link a {
  text-decoration: none;
  color: var(--nav-link-color);
  font-size: 5vw;
  font-weight: 500;
  color: #fff;
}

.nav-link a:hover {
  cursor: pointer;
  color: var(--orange-color);
}

/* Navbar Section End  */

/* Hero Section Start  */
#home {
  background: url("./image/hero/hero_bg.png");
  background-size: cover;
  background-position: center;
  height: 93vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5vh;
  position: relative;
}

.home-main-heading {
  font-weight: 600;
  font-size: 10vw;
  text-align: center;
}

.home-card {
  color: #fff;
  width: 90%;
  max-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #fff;
  gap: 0;
  border-radius: 4px;
  overflow: hidden;
  background-color: var(--home-card-color);
  gap: 10vw;
  padding-top: 3vw;
}

.home-card-head {
  flex: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 7vw;
  font-weight: 700;
}

.home-card-description {
  flex: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 5vw;
}

.home-card .home-card-buttons {
  background-color: #fff;
  flex: 4;
  display: flex;
  gap: 0.2%;
}

.home-card-left,
.home-card-right {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 7%;
  height: 100%;
  flex: 1;
  background: var(--very-dark-blue-color);
  font-size: 5vw;
  padding: 3vw;
}

.home-card-left i,
.home-card-right i {
  padding-top: 3px;
}

.home-card-left:hover,
.home-card-right:hover {
  cursor: pointer;
}

/* Hero Section End  */

/* Reason Section Start  */
#reason {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reason-heading {
  font-size: 8vw;
  text-align: center;
  font-weight: 800;
  margin-bottom: 2vh;
  text-shadow: 0 3px 4px rgba(0, 0, 0, 25%);
  height: fit-content;
}

.reason-box-container {
  display: flex;
  flex-direction: column;
  gap: 10vw;
  align-items: center;
  justify-content: space-between;
  align-content: center;
}

.reason-box {
  width: 100%;
  aspect-ratio: 9 / 6;
  border: 1.4px solid var(--reason-box-border-color);
  border-radius: 5px;
  padding: 3vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* justify-self: flex-start; */
  gap: 3vw;
}

/* .reason-box * {
  flex: 1;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
} */
.reason-box-img-container {
  max-height: 30%;
}

.reason-box img {
  height: 100%;
}

.reason-box h2 {
  font-size: 4.5vw;
  font-weight: 700;
  color: var(--reason-box-heading-color);
}

.reason-box p {
  font-size: 3.5vw;
  font-weight: 300;
  color: var(--reason-box-description-color);
}

/* Reason Section End  */

/* About Section Start */
#about {
  position: relative;
  height: fit-content;
  max-height: 100vh;
  display: flex;
  align-items: center;
}

.about-container {
  width: 100%;
  aspect-ratio: 7/5;
  background: url(./image/about/about-person.svg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.about-box {
  height: 100%;
  position: absolute;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 4%;
  color: #fff;
  background: #2947a977;
  overflow: hidden;
}

.about-box h2 {
  font-size: 5vw;
}

.about-box p {
  font-size: 2.5vw;
  font-weight: 200;
}

.about-box button {
  background-color: #fff;
  color: var(--dark-blue-color);
  width: 100%;
  padding: 3%;
  font-size: 3.3vw;
  font-weight: 500;
  width: 60%;
}

.about-box button:hover {
  cursor: pointer;
}

/* About Section End */

/* Service Section Start */
#service {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--service-bg-color);
  gap: 2rem;
}

.service-heading {
  font-size: 6vw;
}

.service-box-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.service-box {
  width: 100%;
  max-width: 20rem;
  background-color: #fff;
  aspect-ratio: 6/4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.2s ease-in-out;
  border-radius: 5px;
}

.service-box:nth-of-type(even) {
  background: var(--dark-blue-color);
}

.service-box:nth-of-type(even) h2 {
  color: #fff;
}

.service-box:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.service-box img {
  width: 25%;
  padding: 2vh 1vh;
  border-bottom: 2px solid var(--service-image-border-bottom-stroke-color);
}

.service-box h2 {
  padding: 2vh 0;
  font-size: 4vw;
  color: var(--dark-blue-color);
}

/* Service Section End */

/* Stats Section Start */
#stats {
  display: flex;
  flex-direction: column;
  gap: min(5vw, 2rem);
  align-items: center;
}

.stats-left {
  width: min(90%, 25rem);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: min(15vw, 2.5rem);
}

.stat-card-row-outer {
  width: 100%;
}

.stat-card-row-inner {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: min(15vw, 2.5rem);
}

.stat-card-outer {
  width: 100%;
  aspect-ratio: 5/3;
  box-shadow: 3px 0 7px 2px var(--stats-left-box-shadow-color),
    0 3px 7px 2px var(--stats-left-box-shadow-color),
    -3px 0 7px 2px var(--stats-left-box-shadow-color);
}

.stat-card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: min(4vw, 1.5rem);
}

.stat-card-inner img {
  position: absolute;
  height: 40%;
  left: -8%;
  top: -13.3%;
}

.stat-card-inner h2 {
  font-size: min(13vw, 2rem);
}

.stat-card-inner p {
  font-size: min(6vw, 1.2rem);
  padding: min(1vw, 0.3rem) min(2vw, 1.5rem);
  padding-right: 0;
  border-left: 4px solid var(--orange-color);
}

.stat-card-outer-84 .stat-card-inner img {
  left: auto;
  right: -8%;
}

.stat-card-outer-37 .stat-card-inner img {
  left: auto;
  right: -8%;
}

.stats-right {
  width: min(90%, 25rem);
  display: flex;
  flex-direction: column;
  gap: 4vw;
}

.stats-right h2 {
  font-size: min(7vw, 2.5rem);
  color: var(--dark-blue-color);
}

.stats-right p {
  font-size: min(4vw, 1.2rem);
  color: var(--stats-right-description-color);
  font-weight: 400;
}

.stats-right a {
  background: var(--dark-blue-color);
  color: #fff;
  padding: min(2vw, 1rem) min(6vw, 2rem);
  width: fit-content;
  font-size: min(5vw, 1.5rem);
  font-weight: 500;
}

/* .stat-card-outer-37 .stat-card-inner img {
  left: auto;
  right: -8%;
} */
/* Stats Section End */

/* Ads Section Start */
#ads {
  height: fit-content;
  background: url(./image/ads/ads_bg.svg);
  display: flex;
  flex-direction: column;
  color: #fff;
  align-items: center;
  justify-content: space-around;
  gap: 2vh;
  padding-top: 5vw;
  padding-bottom: 5vw;
}

.ads-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
}

.ads-left h2 {
  font-size: 4vw;
  font-weight: 600;
}

.ads-left p {
  font-size: 2.5vw;
}

#ads button {
  border: 2px solid #fff;
  color: #fff;
  background: transparent;
  padding: min(2vw, 0.6rem);
  font-size: 2vw;
  font-weight: 600;
  width: fit-content;
}

#ads button:hover {
  cursor: pointer;
}

/* Ads Section End */

/* Project Section Start */
.project-header {
  font-size: 9vw;
  margin-bottom: min(1vh, 1rem);
}

.project-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: min(1vh, 1rem);
}

.project-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.project-left a {
  font-size: 3.5vw;
  color: var(--project-link-color);
  border-bottom: 2px solid transparent;
  padding-bottom: 0.1rem;
  font-weight: 600;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.project-left a:hover {
  border-bottom: 2px solid var(--dark-blue-color);
  color: var(--dark-blue-color);
}

.project-right {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  align-items: center;
}

.project-box {
  width: 90%;
  aspect-ratio: 5/4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  overflow: hidden;
}

.project-box-image-container {
  width: 100%;
  flex: 11;
  overflow: hidden;
}

.project-box-image-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.project-box-description {
  flex: 4;
  width: 100%;
  color: #fff;
  background: var(--dark-blue-color);
  display: flex;
  padding-left: min(3vw, 1rem);
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.project-box-description h3 {
  font-size: min(4vw, 0.7rem);
  font-weight: 600;
}

.project-box-description p {
  font-size: min(4vw, 0.7rem);
  font-weight: 300;
}

.project-pagination {
  height: min(3vh, 2rem);
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: min(1rem, 3vw);
}

.project-pagination button {
  height: 100%;
  border: none;
  background: var(--very-dark-blue-color);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: min(1.5vw, 0.6rem);
  flex: 8;
  font-size: min(4vw, 0.7rem);
}

.projct-pagination-dot-container {
  flex: 5;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.projct-pagination-dot-container a {
  height: 15%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background: var(--project-card-pagination-bg-color);
}

.projct-pagination-dot-container a:nth-of-type(1) {
  background: var(--dark-blue-color);
}

/* Project Section End */

/* Form Section Start */
#form-section {
  background: var(--form-section-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vh;
}

.form-heading {
  max-width: 35rem;
  font-size: 7vw;
  color: var(--very-dark-blue-color);
}

.form-description {
  max-width: 35rem;
  font-size: 3.3vw;
  text-align: center;
  font-weight: 500;
  color: var(--very-dark-blue-color);
}

.form {
  width: 100%;
  max-width: 35rem;
  padding: 2vh 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: min(2vh, 1.5rem);
}

.row,
textarea,
button {
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: min(2vh, 1.5rem);
  justify-content: space-between;
}

.row input {
  width: 100%;
}

.row input,
.form textarea {
  font-size: 3.3vw;
  padding: min(2vw, 0.6rem);
  border-radius: 3px;
  border: 1px solid var(--form-input-border-color);
}

.form input[type="number"]::-webkit-outer-spin-button,
.form input[type="number"]::-webkit-inner-spin-button {
  display: none;
}

.row input::placeholder,
.form textarea::placeholder {
  color: var(--form-input-placeholder-color);
}

.form button {
  width: 100%;
  font-size: 3.3vw;
  color: #fff;
  background: var(--dark-blue-color);
  padding: min(2vw, 0.6rem) min(4vw, 1.2rem);
  border-radius: 3px;
  width: fit-content;
  font-weight: 600;
}

.form-required-para {
  font-size: 3.6vw;
  color: var(--form-input-placeholder-color);
  align-self: flex-start;
}

.form-required-para span {
  color: var(--form-star-color);
  font-size: 3.6vw;
  font-weight: 500;
  margin-right: 0.4rem;
}

/* Form Section End */

/* Footer Section Start */
#footer {
  display: flex;
  flex-direction: column;
  gap: min(10vw, 1rem);
}

.footer-left,
.footer-right {
  display: flex;
  flex-direction: column;
  gap: min(10vw, 1rem);
}

.footer-left-sec-1 {
  display: flex;
  flex-direction: column;
  gap: min(10vw, 1rem);
}

.footer-left-row,
.footer-right-sec {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: min(1.5vw, 1rem);
}

.footer-left-row .left,
.footer-right-sec .left {
  text-transform: uppercase;
  font-weight: 600;
  color: var(--dark-blue-color);
  font-size: min(8vw, 0.8rem);
}

.footer-left-row .right {
  text-transform: uppercase;
  font-weight: 500;
  color: var(--very-dark-blue-color);
  font-size: min(8vw, 0.8rem);
}

.footer-logo-container {
  /* height: min(22vw, 1.5rem); */

  height: min(15vw, 2rem);
  align-items: center;
  gap: min(2vw, 0.5rem);
  display: none;
}

.footer-logo-container img {
  height: 100%;
}

.footer-logo-container h2,
.footer-logo-container h2 span {
  font-size: min(13vw, 1.2rem);
  color: var(--dark-blue-color);
}

.footer-logo-container h2 span {
  font-style: italic;
}

.footer-right-input-button {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
}

.footer-right-input-button input,
.footer-right-input-button button {
  font-size: min(8vw, 0.8rem);
  border: 1px solid #e0e3eb;
  padding: min(4vw, 0.4rem);
  border-radius: 3px;
}

.footer-right-input-button input::placeholder {
  color: var(--footer-input-placeholder-color);
}

.footer-right-input-button button {
  width: 50%;
  align-self: center;
  border: 1px solid var(--orange-color);
  background: var(--orange-color);
  color: #fff;
}

.footer-right-social-icons-container {
  display: flex;
  flex-direction: row;
  gap: min(5vw, 2rem);
  height: min(15vw, 2rem);
  margin-top: 3vw;
}

.footer-right-social-icons-container img {
  height: 80%;
}

/* Footer Section End */
/* Copyright Section Start */
#copyright {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: min(6vw, 0.8rem);
  background: var(--dark-blue-color);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/* Copyright Section End */
/* --------------------------------- */
@media (min-width: 320px) {

  /* Nav */
  .logo-container h2 {
    font-size: 1.5rem;
  }

  .nav-hamburger-icon-container i {
    font-size: 2rem;
  }

  .nav-links-container {
    gap: 0.8rem;
  }

  .nav-link a {
    font-size: 0.8rem;
  }

  /* Home */
  .home-main-heading {
    font-size: 10vw;
  }

  .home-card {
    gap: 1.3rem;
    width: 20rem;
  }

  .home-card-head {
    font-size: 1.5rem;
  }

  .home-card-description {
    font-size: 1.1rem;
  }

  .home-card-left,
  .home-card-right {
    font-size: 1rem;
  }

  .home-card-buttons span {
    padding: 0.6rem;
  }

  /* Reason */
  .reason-heading {
    font-size: 6vw;
    margin-bottom: 5vw;
  }

  .reason-box-img-container {
    flex: 1;
  }

  /* Service  */
  .service-box-container {
    gap: 2rem;
  }

  /* Stats */
  /* Ads */
  /* Projects */
  .project-header {
    font-size: min(2rem, 10vw);
    margin-bottom: min(2rem, 1.7vh);
  }

  .project-container {
    gap: min(1.7rem, 1.5vh);
  }

  .project-left a {
    font-size: min(1.1rem, 6vw);
  }

  .project-box-description h3 {
    font-size: min(1.5rem, 4vw);
  }

  .project-box-description p {
    font-size: min(1.5rem, 4vw);
  }

  .project-pagination {
    height: min(10vw, 6rem);
  }

  .project-pagination button {
    font-size: min(3vw, 1.3rem);
  }

  /* Form */
  .form-heading {
    font-size: min(6vw, 2.7rem);
  }

  .form-description {
    font-size: min(3vw, 1.2rem);
  }

  .row input,
  .form textarea {
    font-size: min(3vw, 1.2rem);
    padding: min(2vw, 1rem);
  }

  .form button {
    font-size: min(3vw, 1.2rem);
    padding: min(2vw, 1rem) min(5vw, 2.5rem);
  }

  /* Footer */
  .footer-left-row {
    flex-direction: row;
    justify-content: flex-start;
  }

  .footer-left-row .left,
  .footer-right-sec .left {
    font-size: min(3.5vw, 1rem);
  }

  .footer-left-row .left {
    width: min(20vw, 5rem);
  }

  .footer-left-row .right {
    flex: 1;
    font-size: min(3.5vw, 1rem);
  }

  .footer-logo-container {
    height: min(15vw, 3rem);
  }

  .footer-right-input-button {
    flex-direction: row;
  }

  .footer-right-input-button input {
    flex: 3;
    padding: min(2vw, 0.8rem);
    font-size: min(3.5vw, 1rem);
  }

  .footer-right-input-button button {
    flex: 1;
    padding: min(2vw, 0.8rem);
    font-size: min(3.5vw, 1rem);
  }

  .footer-right-social-icons-container {
    gap: min(3vw, 1rem);
    height: min(15vw, 3rem);
    margin-top: 0;
  }
}

@media (min-width: 768px) {

  /* Navbar Section Start  */
  nav {
    height: 7vh;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0;
  }

  .nav-hamburger-icon-container {
    display: none;
  }

  .nav-links-container {
    flex-direction: row;
    gap: 1.5rem;
    position: static;
    background: transparent;
  }

  .nav-link a {
    color: var(--nav-link-color);
  }

  /* Navbar Section End */

  /* Hero Section Start  */

  #home .home-main-heading {
    font-size: 3.8rem;
    align-self: flex-start;
  }

  .home-card {
    position: absolute;
    right: 5vw;
    bottom: 0;
    padding-top: 1rem;
  }

  .home-card-head {
    font-size: 1.5rem;
  }

  .home-card-description {
    font-size: 1rem;
  }

  .home-card-left,
  .home-card-right {
    font-size: 1rem;
  }

  /* Hero Section End  */

  /* Reason Section Start  */
  #reason {
    height: fit-content;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .reason-heading {
    font-size: 3rem;
  }

  .reason-box-container {
    flex-direction: row;
    width: 100%;
    justify-content: center;
    gap: 1.5vw;
  }

  .reason-box {
    justify-content: center;
    padding: 1rem;
    height: 10rem;
    aspect-ratio: 0;
    width: 16rem;
    gap: 1rem;
  }

  .reason-box h2 {
    font-size: 1rem;
  }

  .reason-box p {
    font-size: 0.9rem;
  }

  /* Reason Section End  */

  /* About Section Start */
  #about {
    margin-bottom: 0;
  }

  .about-container {
    width: 70%;
    left: 4.5%;
  }

  .about-box {
    height: 80%;
    aspect-ratio: 5/6;
    top: 50%;
    transform: translateY(-50%);
    right: -30%;
    background: var(--dark-blue-color);
  }

  .about-box h2 {
    font-size: 3vw;
  }

  .about-box p {
    font-size: 1.5vw;
  }

  .about-box button {
    color: var(--dark-blue-color);
    font-size: 1.1vw;
  }

  /* About Section Start */

  /* Service Section Start */
  #service {
    height: fit-content;
  }

  .service-heading {
    font-size: 4vw;
    height: 10%;
    display: flex;
    align-items: center;
  }

  .service-box-container {
    width: 45rem;
    height: 50rem;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    /* gap: 2rem; */
  }

  .service-box {
    height: 13rem;
    width: 18rem;
  }

  .service-box img {
    width: 25%;
  }

  .service-box h2 {
    font-size: 1.2rem;
  }

  /* Service Section End */

  /* Stats Section Start */
  #stats {
    flex-direction: row;
    align-items: center;
    height: 90vh;
  }

  .stats-left {
    flex: 1;
    height: 80%;
  }

  .stat-card-row-outer {
    position: absolute;
    height: 50%;
  }

  .stat-card-row-inner {
    position: relative;
  }

  .stat-card-row-outer:first-of-type {
    top: 0;
  }

  .stat-card-row-outer:last-of-type {
    bottom: 0;
  }

  .stat-card-outer {
    position: absolute;
    width: 45%;
  }

  .stat-card-outer-84 {
    z-index: 2;
    right: 4%;
    top: 10%;
  }

  .stat-card-outer-123 {
    z-index: 1;
    width: 50%;
    bottom: 0;
    left: 10%;
  }

  .stat-card-outer-37 {
    z-index: 2;
    right: 8%;
    top: -6%;
  }

  .stat-card-outer-30 {
    z-index: 1;
    bottom: 18%;
    left: 15%;
  }

  .stat-card-inner {
    gap: 5%;
    background: #fff;
  }

  .stat-card-inner h2 {
    font-size: min(4vw, 2.5rem);
  }

  .stat-card-inner p {
    font-size: min(1.2vw, 1rem);
    padding: min(0.1vw, 0.3rem) min(0.6vw, 1.5rem);
    padding-right: 0;
    border-left: 2px solid var(--orange-color);
  }

  .stats-right {
    justify-content: center;
    flex: 1;
    /* padding: min(2%, 2rem); */
  }

  .stats-right h2 {
    font-size: min(6vw, 7rem);
  }

  .stats-right p {
    font-size: min(2vw, 1rem);
  }

  .stats-right a {
    font-size: min(2vw, 1.3rem);
    /* padding: min(1vw, 0.2rem) min(1.5vw, 1.5rem); */
  }

  /* Stats Section End */

  /* Ads Section Start */
  #ads {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .ads-left {
    align-items: flex-start;
    flex: 7;
  }

  .ads-left h2 {
    font-size: 2.6vw;
  }

  .ads-left p {
    font-size: 1.8vw;
  }

  #ads button {
    padding: 1.5vw 2vw;
    font-size: 1.5vw;
  }

  /* Ads Section End */
  /* Project Section Start */
  #project {
    gap: 2.5rem;
  }

  .project-header {
    font-size: min(5vw, 2rem);
    margin-bottom: min(3vh, 2rem);
    /* font-size: 5rem; */
    /* margin-bottom: 3rem; */
  }

  .project-container {
    flex-direction: row;
    flex: 1;
    margin: auto;
    gap: min(5vw, 4rem);
  }

  .project-left {
    flex-direction: column;
    align-items: flex-start;
  }

  .project-left a {
    border-bottom: 0;
    padding-bottom: 0;
    padding-left: min(1vw, 1rem);
    border-left: 3px solid transparent;
    font-size: min(1rem 6vw);
  }

  .project-left a:hover {
    border-left: 3px solid var(--dark-blue-color);
    border-bottom: 0px;
  }

  .project-right {
    flex: 1;
    aspect-ratio: 1/1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 6fr 6fr 1fr;
    row-gap: 2rem;
    column-gap: 2rem;
    max-width: 40rem;
  }

  .project-box {
    height: 100%;
    width: 100%;
  }

  .project-box-1 {
    grid-row: 1;
    grid-column: 1;
  }

  .project-box-2 {
    grid-row: 1;
    grid-column: 2;
  }

  .project-box-3 {
    grid-row: 2;
    grid-column: 1;
  }

  .project-box-4 {
    grid-row: 2;
    grid-column: 2;
  }

  .project-box-description h3 {
    font-size: min(1.8vw, 1rem);
  }

  .project-box-description p {
    font-size: min(1.6vw, 0.9rem);
  }

  .project-pagination {
    grid-row: 3;
    height: 100%;
    grid-column: 1 / span 2;
    gap: 2rem;
    width: 100%;
  }

  .project-pagination button {
    font-size: min(1.6vw, 1rem);
  }

  .projct-pagination-dot-container a {
    height: 25%;
  }

  /* Project Section End */

  /* Form Section Start */
  .form {
    gap: min(2vh, 1.5rem);
  }

  .form-heading {
    font-size: 2.7rem;
  }

  .form-description {
    font-size: 1.3rem;
  }

  .row input,
  .form textarea {
    font-size: 1.1rem;
    padding: 0.9rem;
  }

  .form-required-para,
  .form-required-para span {
    font-size: 1.1rem;
  }

  .form button {
    font-size: 1.1rem;
    padding: 0.8rem 4.5rem;
    align-self: center;
    border-radius: 2px;
  }

  /* Form Section End */
  /* Footer Section Start */
  #footer {
    flex-direction: row;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .footer-left,
  .footer-right {
    flex: 1;
  }

  .footer-left-row {
    flex-direction: row;
    justify-content: flex-start;
  }

  .footer-left-row .left,
  .footer-right-sec .left {
    font-size: min(1.5vw, 1rem);
  }

  .footer-left-row .left {
    width: min(7vw, 5rem);
  }

  .footer-left-row .right {
    flex: 1;
    font-size: min(1.5vw, 1rem);
  }

  .footer-logo-container {
    display: flex;
    height: min(6vh, 3rem);
  }

  .footer-right-input-button input {
    flex: 3;
    padding: min(1vw, 10.8rem);
    font-size: min(1.5vw, 1rem);
  }

  .footer-right-input-button button {
    flex: 1;
    padding: min(1vw, 10.8rem);
    font-size: min(1.5vw, 1rem);
  }

  .footer-right-social-icons-container {
    gap: min(3vw, 1rem);
    height: min(6vh, 3rem);
  }

  /* Footer Section End */

  /* Copyright Section Start */
  #copyright {
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
  }

  /* Copyright Section End */
}

@media (min-width: 1024px) and (orientation: landscape) {

  /* Navbar Section Start  */
  nav {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0;
  }

  .nav-links-container {
    gap: 3rem;
  }

  .nav-link a {
    font-size: 1rem;
  }

  /* Navbar Section End */

  /* Hero Section Start  */
  #home {
    position: relative;
    align-items: flex-start;
  }

  .home-card {
    position: absolute;
    height: 11rem;
    width: 20rem;
    right: 5vw;
    bottom: 0;
  }

  .home-card-head {
    text-align: left;
    font-size: 1.5rem;
  }

  .home-card-description {
    font-size: 1.3rem;
  }

  .home-card-left,
  .home-card-right {
    font-size: 1.1rem;
  }

  /* Reason */
  #reason {
    /* margin-bottom: 5vh; */
  }

  .reason-box {
    height: 12.5rem;
    width: 20rem;
    gap: 0.6rem;
  }

  .reason-box h2 {
    font-size: 1.3rem;
  }

  .reason-box p {
    font-size: 1.1rem;
  }

  .reason-box img {
    height: 100%;
  }

  /* About */
  .about-box {
    background: var(--dark-blue-color);
  }

  /* Service Section Start */
  #service {
    /* height: 100vh; */
  }

  .service-box-container {
    width: 55rem;
    height: 24rem;
    flex-direction: row;
    align-items: center;
  }

  .service-box {
    width: 16rem;
    height: 10rem;
  }

  .service-box h2 {
    font-size: 1rem;
  }

  /* Service Section End */

  /* Stat Section Start */
  .stats-left {
    flex: 3;
    height: 100%;
  }

  .stat-card-row-outer {
    max-width: 30rem;
    left: 50%;
    transform: translateX(-50%);
  }

  .stats-right {
    flex: 2;
    gap: 3vh;
  }

  .stats-right h2 {
    font-size: min(3vw, 3.3rem);
  }

  .stats-right p {
    max-width: 25rem;
  }

  .stats-right a {
    padding-top: min(0.5v.5vh, 1rem);
    padding-bottom: min(0.5v.5vh, 1rem);
  }

  /* Stat Section End */
  /* Ads Section Start */
  #ads {
    height: fit-content;
  }

  .ads-left {
    flex: 10;
    gap: 1.1rem;
  }

  .ads-left h2 {
    font-size: 1.8rem;
  }

  .ads-left p {
    font-size: 1.1rem;
  }

  #ads button {
    font-size: 1.1rem;
    flex: none;
    width: fit-content;
    padding: 1rem;
  }

  /* Ads Section End */
  /* Project Section Start */
  .project-header {
    margin: 0 auto min(4vh, 2rem) auto;
    max-width: 65rem;
  }

  .project-container {
    max-width: 65rem;
    justify-content: space-between;
  }

  .project-right {
    width: 100%;
    max-width: 38rem;
    margin: auto;
  }

  /* Project Section End */
  /* Form Section Start */
  #form-section {
    justify-content: center;
    gap: 4vh;
  }

  .form {
    max-width: 50rem;
    gap: 1.5rem;
  }

  .form-heading {
    max-width: 50rem;
    font-size: 2.7rem;
  }

  .form-description {
    max-width: 50rem;
    font-size: 1.5rem;
  }

  .row input {
    flex: 1;
  }

  .row input,
  .form textarea {
    font-size: 1.3rem;
    padding: 0.7rem;
  }

  .form-required-para,
  .form-required-para span {
    font-size: 1.3rem;
  }

  .form button {
    font-size: 1.3rem;
    padding: 1.1rem 5rem;
    width: 40%;
  }

  /* Form Section End */

  /* Footer */
  .footer-logo-container {
    height: 5.5vh;
    gap: min(2vw, 0.1rem);
  }

  .footer-logo-container h2,
  .footer-logo-container h2 span {
    font-size: 1.6rem;
  }

  .footer-right-input-button input,
  .footer-right-input-button button {
    padding: min(2vw, 0.8rem);
    font-size: min(3.5vw, 1rem);
  }
}